body{

   background-image: url("/img/depositphotos_215087088-stock-illustration-sweets-dessert-icon-filled-outline.jpg");
    background-repeat: repeat ;  
    

}
.container{

    font-family: 'Roboto', sans-serif;
}
#titulo{
    text-align: center;
    background-color: white;
    font-size: 30px;
    font-weight:bold;

}
#Foto{
    font-weight:bold;
    background-color: white;
    border-right: black solid 1px ;
}
#Texto_perfil{
 
text-align: center;
padding-top: 10px;
font-weight:bold;


}
#experiencia{
  
    border-top: black solid 1px ;
    border-left: black solid 1px ;
}
#perfil{
    border-top: black solid 1px ;
   
   
}
#formacion{
    font-weight:bold;
    border: black solid 1px;
    margin-top: 35px;
    padding: 15px;
}
